<h1>Editing Listing</h1>

<% if @listing.footage.attached? %>
  <p>
    <%= image_tag @listing.footage, width: "400px" %>
  </p>
<% end %>

<%= render 'form', listing: @listing %>


<%= link_to 'Show', @listing %> |
<%= link_to 'Back', listings_path %>
