<div class='sign-in-page flex justify-center items-center'>
  <div class='border rounded-3xl border-black border-opacity-25 bg-white shadow-lg sm:4/5 lg:w-2/5 flex flex-col justify-start' >
    <div class='mx-4 flex flex-col justify-center items-center sign-in-form'>
      <h1 class='text-5xl font-bold text-center mt-8 mb-8 text-purple-700'>New Listing</h1>

      <%= render 'form', listing: @listing %>

    </div>
  </div>
</div>